<h2>Meal Details</h2>

<img src="{{imageUrl}}" alt="meal">
<h3>{{name}}</h3>
<p>{{calories}} Kcal</p>
<p>Ingredients: {{ingredients}}</p>
<p>Preparation: {{preparation}}</p>
<br>
<p>Added by: {{owner.email}}</p>

<a href="/meals/edit/{{_id}}">Edit Meal</a>
<a href="/meals/delete/{{_id}}">Delete Meal</a>





